<div class="container">
    <header class="d-flex align-items-center">
        <img src="/images/icon-128.png" class="mr-3">
        <h1 class="mr-3">Thông tin user</h1>
    </header>
    <div class="d-flex justify-content-center">

    </div>
    <div class="my-card shadow">
        <img class="card-img-top" class="rounded-circle" src="/uploads/anhhuy.png" alt="">
        <h4>Username</h4>
    </div>
</div>
</div>